#main-content-container {
    padding: .8rem;
    background-color: var(--color-beige);
    border: 1px dotted var(--color-charcoal);
    border-radius: 8px;
    margin: 2rem auto;
    width: 85%;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
}

#main-content {
    text-align: left;
    padding: 1.5rem;
    background-color: var(--color-white, #fff);
    border: 1px dotted var(--color-pomegranate);
    border-radius: 8px;
}

#main-content a:hover {
    color: var(--color-lightturquoise);
}