header {
    padding: 0;
    background-color: var(--color-charcoal);
    /* background: linear-gradient(to bottom, var(--color-charcoal), #42403c); */
    border-bottom: 3px solid var(--color-lightpink);
}

#header-content {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2.5rem;
    z-index: 999;
}

#main-logo {
    width: 18%;
}

#main-logo img {
    width: 100%;
    height: auto;
}

/* #symbols {
    margin: 0 auto 2rem auto;
    font-size: 1.5rem;
} */

#page-title-container{
    width: 100%;
    margin-top: calc(var(--page-title-height) / -1.4);
    z-index: 100;
}